%table
  %thead
    %tr
      %th= Post.human_attribute_name('title')
      %th= Post.human_attribute_name('body')
      %th= Post.human_attribute_name('published_on')
      %th{ :colspan => 4 }
  %tbody
    - for post in @posts
      %tr{ :class => cycle(:odd, :even) }
        %td= post.title
        %td= post.body
        %td= post.published_on
        %td= link_to t("page.show_link"), post
        %td
          - if user_signed_in?
            = link_to t("page.edit_link"), edit_post_path(post)
        %td
          - if user_signed_in?
            = link_to t("page.destroy_link"), post, :confirm => t("page.are_you_sure"), :method => :delete
        %td
          - if user_signed_in?
            = link_to t("page.delete_link"), delete_post_path(post), :class => "delete_post"

%div(class="flickr_pagination")
  %div(class="page_info")
    =page_entries_info @posts
  = will_paginate @posts

